.header {
  display:flex;
  margin:5px;
  background-color:blue;
  color:white;
}
  
  
.head {
  background-image:url("https://github.com/kosiki/zyohokagaku/blob/master/-5679945350017582920_IMG_0355.JPG?raw=true");
  background-size:cover;
}

h2 {
  color:white;
}
  

.container {
  width:1000px;
}
  
