.header {
  display:flex;
  margin:10px;
  background-color:green;
  color:white;
}
.header p {
  margin-left:5px;
  float:left;
}
  
  
.header-middle {
  background-color:lime;
  color:white;
  text-algin:center;
}

.liner {
  padding:5px;
}
  
