.header {
  display:flex;
  margin:5px;
  background-color:blue;
  color:white;
}
  
  
.head-middle {
  background-img:url("https://github.com/kosiki/zyohokagaku/blob/master/-5679945350017582920_IMG_0355.JPG");
  background-size:cover;
}

h2 {
  color:white;
  

.liner {
  padding:5px;
}
  
